/* Just for visual representation while coding */
:root {
    --size: 16;
    --gridHoverColor: grey;
    --gridInitalColor: white;
}

body {
    display: grid;
    place-items: center;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
    width: 960px;
    height: 960px; 
    border: #BADA55 solid 2px;
}

.grid {
    height: 60px;
    width: 60px;
    cursor: pointer;
    background-color: var(--gridInitalColor);
}
